.container
    .jumbotron
        h1 Mega Llama
        p Welcome to the mega llama angular application that does stuff and things.

    .row
        .col-md-6
            div(ng-include="'/partials/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/new-courses'")